# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
*.egg-link
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Project-specific
db_faiss/
logs/
.ipynb_checkpoints/
.streamlit/secrets.toml
src/app.py

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store
